@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

a {
    text-decoration: none;
    color: rgb(93, 93, 250);
}

body { 
    font-family: 'Poppins';
    background-color: white;
    margin-top: -5em;
    padding: 5em;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 15px;
}

td {
    font-size: 13px;
    padding: 1em;
    
}

th {
    text-align: left;
}